 Css */ * {}

 html {
     margin: 0;
     padding: 0;
     width: 100%;
     max-width: 100%;
     overflow-x: initial !important;
 }


 body {
     margin: 0;
     padding: 0;
     background-color: rgb(234, 107, 83);
     /*background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%); */
     font-family: "Ailerons";
     /* color: rgb(255, 255, 255); */
     font-size: 19px;
     font-family: 'Chonburi';
     max-width: 100%;
     overflow-x: hidden;
     /* -webkit-overflow-scrolling: hidden;
    -webkit-font-feature-settings: initial; */
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -o-user-select: none;
     user-select: none;
 }

 p {
     margin-top: 0rem;
     margin-bottom: -7rem;
 }

 img {
     min-width: 50%
 }

 h1 {
     font-size: 3em;
     margin-top: 35px;
     font-weight: bold;

 }

 h2 {
     font-size: 1.5em;
     margin-top: 130px;
     font-weight: bold;
     color: #01379c;
 }


 #minitext {
     color: #01379c;
 }

 #img1 {
     position: absolute;
     z-index: 101;
     margin-top: 800px;
     display: block;
     margin-left: 25%;
     width: 100%;
 }

 img.animatic-gif {
     position: absolute;
     z-index: 101;
     margin-top: 500px;
     width: 100%;
     height: auto;
 }

 img.animatic-gif2 {
     position: absolute;
     z-index: 103;
     margin-top: -170px;
     /*    left: -65px;*/
     width: 100%;
     height: auto;
 }

 #minihead1 {
     font-size: 1.5em;
     font-weight: bold;
     color: #01379c;
     margin-left: 1000px;
     position: absolute;
     font-weight: bold;
     margin-top: 50px;

 }

 #minihead2 {
     font-size: 1.5em;
     font-weight: bold;
     color: #01379c;
     margin-left: 1000px;
     position: absolute;
     font-weight: bold;
     margin-top: 420px;
 }

 #minihead3 {
     font-size: 1.5em;
     font-weight: bold;
     color: #01379c;
     margin-left: 1000px;
     position: absolute;
     font-weight: bold;
     margin-top: 780px;

 }

 #minihead4 {
     font-size: 1.5em;
     font-weight: bold;
     color: #01379c;
     margin-left: 1000px;
     position: absolute;
     font-weight: bold;
     margin-top: 1100px;

 }

 #data1 {
     margin-left: 1000px;
     position: absolute;
     margin-top: 170px;
 }

 #data2 {
     margin-left: 1000px;
     position: absolute;
     margin-top: 500px;
 }

 #data3 {
     margin-left: 1000px;
     position: absolute;
     margin-top: 860px;
 }

 #data4 {
     margin-left: 1000px;
     position: absolute;
     margin-top: 1180px;
 }


 #div1 {
     overflow-x: hidden;
 }

 .contained {
     display: inline;
 }

 .containing {
     position: relative;
     height: 850px;
 }

 .curving_posture {
     right: 0;
     min-width: 30%;
     left: auto;
     position: absolute;
 }

 .font-area {
     /* display: flex; */
 }

 .place-area {
     /* display: flex; */
     background: white;
     height: 1650px;
 }

 .clipKhan {
     position: fixed;
     left: 0%;
     width: 20px;
     height: 20px;
     display: block;
 }

 .margin-push-paragraph {
     margin-left: -.25em;
 }

 /* Blink */
 @-webkit-keyframes blinker {
     from {
         opacity: 1.0;
     }

     to {
         opacity: 0.0;
     }
 }

 .blink {
     display: block;
     text-decoration: blink;
     -webkit-animation-name: blinker;
     -webkit-animation-duration: 0.6s;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-timing-function: ease-in-out;
     -webkit-animation-direction: alternate;
 }

 /* navbar */
 /* Dropdown Button */
 .dropbtn {
     background-color: rgba(0, 0, 0, 0);
     color: white;
     padding: 10px;
     font-size: 16px;
     border: none;
     cursor: pointer;
     width: 75px;
     height: 40px;
     background-image: url('../Assets/images/hamburger_03.svg');
     background-size: cover;
     background-repeat: no-repeat;
     top: 5%;
     right: 5%;
     position: fixed;
     margin: 20px;
     z-index: 1;
     transition: all .5s;
 }

 /* Dropdown button on hover & focus */
 .dropbtn:hover {
     transform: scale(1.15) !important;
     transition: all .5s;
 }

 .dropbtn:focus {
     /* transform: scale(2); */
 }

 /* The container */
 .dropdown {
     position: relative;
     display: inline-block;
     transition: all .5s;
     z-index: 900;
 }

 /* Dropdown Content*/
 .dropdown-content {
     display: block;
     visibility: hidden;
     opacity: 0;
     position: absolute;
     background-color: #01379c88;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0);
     z-index: 100;
     transition: all .5s;
     top: 15%;
     right: 5%;
     position: fixed;
     margin: 10px 20px 20px 20px;
     color: white;
     border-left: 2px dashed;
     backdrop-filter: blur(2px);
     /* border-radius: 0 20px 20px 0; */
 }

 /* Links inside the dropdown */
 .dropdown-content a {
     color: rgb(255, 255, 255);
     padding: 10px 16px;
     text-decoration: none;
     display: block;
     transition: all .5s;
     font-size: 2vh;
     /* border-radius: 30px; */
     /* border-left: 2px dashed; */
 }

 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {
     color: #01379c;
     background-color: rgb(255, 255, 255)
 }

 .show {
     display: block;
     transition: all .5s;
     opacity: 1;
     visibility: visible;
 }

 #arrowOut {
     left: 80px;
     font-size: 20px;
 }

 /* Preset สำหรับทำกรอบของข้อความ */
 .letter1 {
     position: absolute;
     /* max-width: 200px; */
     font-size: 1120%;
     color: rgba(0, 0, 0, 0);
     white-space: nowrap;
     width: 100%;
     height: 800px;
     overflow: hidden;
     text-overflow: clip;
     /* border: 1px solid #000000; */
     -webkit-text-stroke: 1.5px white;

 }

 .letter2 {
     position: absolute;
     top: 0%;
     left: 10%;
     font-size: 50px;
 }

 .letter3 {
     position: absolute;
     top: 80%;
     left: 60%;
     font-size: 70px;
     letter-spacing: 8px;
 }

 .letter4 {
     position: absolute;
     top: 190px;
     left: 75%;
     font-size: 20px;
     color: rgb(255, 145, 42);
     font-family: 'Prompt', sans-serif !important;
     font-weight: bold;
 }

 .letter5 {
     position: absolute;
     top: -50px;
     left: 15%;
     font-size: 20px;
     color: rgb(234, 107, 83);
     font-family: 'Prompt', sans-serif !important;
 }

 .letter6 {
     position: absolute;
     top: -30px;
     left: 15%;
     font-size: 20px;
     color: #01379c;
     font-family: 'Prompt', sans-serif !important;
 }

 .letter7 {
     position: absolute;
     top: 98%;
     left: 0;
 }

 .letter8 {
     position: absolute;
     top: 120%;
     left: 30%;
 }

 .letter9 {
     position: absolute;
     top: 150%;
     left: 50%;
 }

 .letter10 {
     position: absolute;
     top: 170%;
     left: 80%;
 }

 .letter11 {
     position: absolute;
     top: 200%;
     left: 20%;
 }

 /* .font-size-xs {
    font-size: 20px;
}
/* .font-size-s {
    font-size: 25px;
}
/* .font-size-m {
    font-size: 30px;
}
/* .font-size-l {
    font-size: 40px;
}

/*Object Placeholder*/
 .box1 {
     /* background: rgb(10, 10, 56); */
     height: 750px;
     width: 800px;
     /* background: red; */
     position: absolute;
     top: 5%;
     left: 0%;
     right: auto;
     filter: invert(0);

     background-image: url(../GangHan1.svg);
     background-size: cover;
     background-position: right;
     background-repeat: no-repeat;

     /* transform: rotate(45deg) */
 }

 .box2 {
     /* background: rgb(10, 10, 56); */
     position: absolute;
     width: 50px;
     top: 20px;
     left: 0;
 }

 .box3 {
     /* background: rgb(10, 10, 56); */
     height: 250px;
     width: 250px;
     position: absolute;
     top: 60%;
     left: 60%;

 }

 .box4 {
     /* background: rgb(10, 10, 56); */
     height: 300px;
     width: 300px;
     position: absolute;
     top: 50%;
     left: 0;
     transform: rotate(60deg);
 }

 .box5 {
     /* background: rgb(10, 10, 56); */
     height: 300px;
     width: 300px;
     position: absolute;
     top: 130%;
     left: 60%;

 }

 .box6 {
     /* backgound: rgb(10, 10, 56); */
     height: 20%;
     width: 5em;
     position: absolute;
     top: 18%;
     left: 30%;
     /* transform: scaleX(-1); */
     /* transform: rotate(30deg); */
 }

 /* font */
 .font-Prompt {
     font-family: 'Prompt', sans-serif !important;
 }

 .font-chonburi {
     font-family: 'Chonburi', sans-serif !important;
 }

 .font-letting-0 {
     letter-spacing: 2px;
 }

 .font-letting-1 {
     letter-spacing: 4px;
 }

 .font-letting-2 {
     letter-spacing: 8px;
 }

 /*responsive mobile*/

 @media only screen and (max-width: 1440px) {
     .dropbtn {
         right: 8%;
     }

     .dropdown-content {
         right: 1.5%;
     }

 }


 @media only screen and (max-width: 1024px) {
     .dropbtn {
         right: 10%;
     }

     .dropdown-content {
         right: 5%;
     }

 }

 @media only screen and (max-width: 768px) {

     body {
         overflow: auto !important;
         filter: none !important;
     }

     .letter5 {
         position: absolute;
         margin-top: -5vw;
         left: 8%;
         font-size: 2.5vw;
         color: #01379c;
         font-family: 'Prompt', sans-serif !important;
     }

     p {
         margin-bottom: 0 !important;
     }

     h1 {
         font-size: 6vw;
         margin-top: 4vw;
         font-weight: bold;
         color: rgb(234, 107, 83);

     }

     img.animatic-gif2 {
         position: absolute;
         z-index: 103;
         margin-top: 4vw;
         width: 105%;
         height: auto;
         left: -7vw;
     }

     img.animatic-gif {
         position: absolute;
         z-index: 101;
         margin-top: 60vw;
         width: 100%;
         height: auto;
     }

     #minihead1 {
         position: absolute;
         margin-top: 180vw;
         z-index: 102;
         font-size: 7vw;
         font-weight: bold;
         color: #01379c;
         margin-left: 10vw;
     }

     #minihead2 {
         position: absolute;
         margin-top: 272vw;
         z-index: 102;
         font-size: 7vw;
         font-weight: bold;
         color: #01379c;
         margin-left: 10vw;
     }

     #minihead3 {
         position: absolute;
         margin-top: 358vw;
         z-index: 102;
         font-size: 7vw;
         font-weight: bold;
         color: #01379c;
         margin-left: 10vw;
     }

     #minihead4 {
         position: absolute;
         margin-top: 435vw;
         z-index: 102;
         font-size: 7vw;
         font-weight: bold;
         color: #01379c;
         margin-left: 10vw;
     }

     #data1 {
         margin-left: 10vw;
         position: absolute;
         margin-top: 205vw;
         font-size: 5vw;
         padding-bottom: 8vw;
         border-bottom: 0.5vw dashed rgb(234, 107, 83);
     }

     #data2 {
         margin-left: 10vw;
         position: absolute;
         margin-top: 285vw;
         font-size: 5vw;
         padding-bottom: 8vw;
         border-bottom: 0.5vw dashed rgb(234, 107, 83);
     }

     #data3 {
         margin-left: 10vw;
         position: absolute;
         margin-top: 372vw;
         font-size: 5vw;
         padding-bottom: 8vw;
         border-bottom: 0.5vw dashed rgb(234, 107, 83);
     }

     #data4 {
         margin-left: 10vw;
         position: absolute;
         margin-top: 450vw;
         font-size: 5vw;
         padding-bottom: 8vw;
         border-bottom: 0.5vw dashed rgb(234, 107, 83);
     }

     .place-area {
         /* display: flex; */
         background: white;
         height: 540vw;
         width: 100%;
     }

     /* addtional */
     .unusual-flex {
         display: flex;
         flex-flow: wrap row;
         align-items: flex-start;
     }

     .contain-control-support {
         margin-left: 200px !important;
         margin-top: -40% !important;
     }

     .contain-control-port {
         margin-top: -10% !important;
     }

     .contain-control-develop {
         margin-left: -20px !important;
         margin-top: -1.5em;
     }

     .margin-push-paragraph-backward-025 {
         margin-left: -.1em !important;
         margin-top: -50px;
     }

     .extensive-control-building {
         width: 100vw;
         /* overflow-x: hidden; */
     }

     .letter1 {
         font-size: 700%;
         white-space: nowrap;
         width: 100%;
         height: 900px;
         overflow: hidden;
         text-overflow: clip;
         display: flex;
         justify-content: space-between;
         flex-flow: wrap column;
         align-items: flex-start;

     }

     .letter4 {
         position: absolute;
         top: 18em;
         left: 65%;
         font-size: 15px;
     }

     /*        .letter5 {
            position: absolute;
            margin-top: 110vw;
            top: 400px;
            left: 8%;
            font-size: 4vw;
            color: #01379c;
            font-family: 'Prompt', sans-serif !important;
        }*/
 }

 @media only screen and (min-width: 768px) {


     #head1 {
         /*        position: absolute;*/
         margin-top: 10vw;
         margin-left: -3vw;
         font-size: 1.7vw;
         color: #01379c;
         font-family: 'Prompt', sans-serif !important;
     }

     #head2 {
         /*        position: absolute;*/
         font-size: 3.6vw;
         margin-left: -3vw;
         margin-top: 3.5vw;
         font-weight: bold;
         color: rgb(234, 107, 83);
         font-family: 'Prompt', sans-serif !important;
     }

     img.animatic-gif2 {
         /*        position: absolute;*/
         z-index: 103;
         margin-top: -10.5vw;
         width: 100vw;
         height: auto;
         margin-left: -3.5vw;
     }

     img.animatic-gif {
         position: absolute;
         z-index: 101;
         margin-top: 35vw;
         width: 100%;
         height: auto;
     }

     #minihead1 {
         position: absolute;
         margin-top: 5vw;
         z-index: 102;
         font-size: 1.7vw;
         font-weight: bold;
         color: #01379c;
         margin-left: 67vw;
     }

     #minihead2 {
         position: absolute;
         margin-top: 29vw;
         z-index: 102;
         font-size: 1.7vw;
         font-weight: bold;
         color: #01379c;
         margin-left: 67vw;
     }

     #minihead3 {
         position: absolute;
         margin-top: 53vw;
         z-index: 102;
         font-size: 1.7vw;
         font-weight: bold;
         color: #01379c;
         margin-left: 67vw;
     }

     #minihead4 {
         position: absolute;
         margin-top: 75vw;
         z-index: 102;
         font-size: 1.7vw;
         font-weight: bold;
         color: #01379c;
         margin-left: 67vw;
     }



     #data1 {
         position: absolute;
         margin-top: 11vw;
         font-size: 1.3vw;
         margin-left: 67vw;
         padding-bottom: 2.5vw;
         border-bottom: 0.2vw dashed rgb(234, 107, 83);
     }

     #data2 {
         position: absolute;
         margin-top: 33vw;
         font-size: 1.3vw;
         margin-left: 67vw;
         padding-bottom: 2.5vw;
         border-bottom: 0.2vw dashed rgb(234, 107, 83);
     }

     #data3 {
         position: absolute;
         margin-top: 57vw;
         font-size: 1.3vw;
         margin-left: 67vw;
         padding-bottom: 2.5vw;
         border-bottom: 0.2vw dashed rgb(234, 107, 83);
     }

     #data4 {
         position: absolute;
         margin-top: 79vw;
         font-size: 1.3vw;
         margin-left: 67vw;
         padding-bottom: 2.5vw;
         border-bottom: 0.2vw dashed rgb(234, 107, 83);
     }

     .place-area {
         /* display: flex; */
         background: white;
         height: 112vw;
         width: 100%;
     }


 }

 @media only screen and (max-width: 1100px) {
     body {
         overflow: hidden;
         filter: blur(20px);
     }
 }

 /*Manual Responsive Check window size*/
 /* แบ่งตามขนาด width ของ Windows ทำงานคล้าย if */
 /*@media only screen and (max-width: 1440px) {
    .dropbtn {
        right: 8%;
    }

    .dropdown-content {
        right: 1.5%;
    }

}*/

 /*@media only screen and (max-width: 1366px) {}*/

 /*ของ dropbtn*/


 /*@media only screen and (max-width: 1024px) {
    .dropbtn {
        right: 10%;
    }

    .dropdown-content {
        right: 5%;
    }

}*/

 /* iPhone 678 */
 /*@media only screen and (max-width: 1000px) {
    .curving_posture {
        right: 0;
        width: 98%;
        left: auto;
        position: absolute;
    }

    .letter1 {
         position: absolute; 
         max-width: 200px; 
        font-size: 750%;
        white-space: nowrap;
        width: 100%;
        height: 1000px;
        overflow: hidden;
        text-overflow: clip;
        display: flex;
        justify-content: space-between;
        flex-flow: wrap column;
        align-items: flex-start;

    }

    .letter4 {
        position: absolute;
        top: 660px;
        left: 68%;
        font-size: 15px;
    }

    .letter5 {
        position: absolute;
        top: 40%;
        left: 15%;
        font-size: 20px;
        color: #01379c;
        font-family: 'Prompt', sans-serif !important;
    }

    .letter6 {
        position: absolute;
        top: 50%;
        left: 15%;
        font-size: 20px;
        color: #01379c;
        font-family: 'Prompt', sans-serif !important;
    }

    .unusual-flex {
        display: flex;
         justify-content: space-evenly; 
        flex-flow: wrap row;
        align-items: flex-start;
    }

    .margin-push-paragraph-backward {
        margin-left: 1.5em;
        margin-top: -100px;
    }

    .margin-push-paragraph-forward {
        margin-left: -1em !important;
        margin-top: -50px;
    }

    .margin-push-paragraph-forward-05 {
        margin-left: -.5em !important;
        margin-top: -50px;
    }

    .margin-push-paragraph-forward-25 {
        margin-left: -.25em !important;

    }

    .margin-push-paragraph-up-50 {
        margin-top: -50px;
    }

    .margin-push-paragraph-up-100 {
        margin-top: -100px;
    }

    .margin-push-paragraph-up-150 {
        margin-top: -150px;
    }
}

@media only screen and (max-width: 414px) {
    .containing {
        height: 985px;
    }

    .place-area {
        height: 1000px;
    }

    .letter1 {
        font-size: 700%;
        height: 900px;
    }

    .letter5 {
        position: absolute;
        top: -30px;
        left: 10%;
        font-size: 10px;
        color: #01379c;
        font-family: 'Prompt', sans-serif !important;
    }

    .letter6 {
        position: absolute;
        top: 50%;
        left: 15%;
        font-size: 20px;
        color: #01379c;
        font-family: 'Prompt', sans-serif !important;
    }
}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 320px) {
    .dropbtn {
        width: 56.25px;
        height: 30px;
    }

    #arrowOut {
        left: 55px;
        font-size: 13px;
    }
}