/* Css */
:root {
    --main-bg-color: #F9B9AC;
    --main-blue-color: #01379c;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    /*background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%); */
    font-family: "Ailerons";
    /* color: rgb(255, 255, 255); */
    font-size: 19px;
    font-family: 'Chonburi';
    max-width: 100%;
    overflow-x: hidden;
    /* -webkit-overflow-scrolling: hidden;
    -webkit-font-feature-settings: initial; */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

p {
    margin-top: 0rem;
    margin-bottom: -7rem;
}

img {
    /* min-width: 50% */
}

#div1 {
    overflow-x: hidden;
}

.contained {
    display: inline;
}

.containing {
    position: relative;
    height: 750px;
}

.containing-2 {
    position: relative;
    height: 750px;
}

.curving_posture {
    right: 0;
    min-width: 30%;
    left: auto;
    position: absolute;
}

/* Detail */
.font-area {
    /* display: flex; */
}

.place-area {
    /* display: flex; */
    background: var(--main-bg-color);
    height: 1000px;
    margin-top: 2em;
}

.clipKhan {
    position: fixed;
    left: 0%;
    width: 20px;
    height: 20px;
    display: block;
}

.margin-push-paragraph {
    margin-left: -.25em;
}

.font-alpha-0 {
    color: rgba(0, 0, 0, 0) !important;
}
.footer{
    background: #eee;
    border-top: 1.5px solid #ccc;
    height: 120px;
}
#footertext{
    padding-top: 20px;
    padding-left: 20px;
    color: #777;
    text-align: center;
}

/* Blink */
@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

.blink {
    display: block;
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

/* navbar */
/* Dropdown Button */
.dropbtn {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 75px;
    height: 40px;
    background-image: url('../Assets/images/hamburger_03.svg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 5%;
    right: 5%;
    position: fixed;
    margin: 20px;
    z-index: 1;
    transition: all .5s;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
    transform: scale(1.15) !important;
    transition: all .5s;
}

.dropbtn:focus {
    /* transform: scale(2); */
}

/* The container */
.dropdown {
    position: relative;
    display: inline-block;
    transition: all .5s;
}

/* Dropdown Content*/
.dropdown-content {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0);
    z-index: 100;
    transition: all .5s;
    top: 15%;
    right: 5%;
    position: fixed;
    margin: 3px 20px 2px 20px;
    color: var(--main-blue-color);
    border-left: 2px dashed;
    backdrop-filter: blur(1px);
    /* border-radius: 0 20px 20px 0; */
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--main-blue-color);
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    transition: all .5s;
    font-size: 2vh;
    /* border-radius: 30px; */
    /* border-left: 2px dashed; */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #F9B9AC;
    background-color: rgb(255, 255, 255)
}

.show {
    display: block;
    transition: all .5s;
    opacity: 1;
    visibility: visible;
}

.hierachy-container {
    display: block;
    margin-top: 7em;
    width: 80vw;
    height: 500px;
}

.hierachy-container-2 {
    padding: 33vw 1.5em 0 1em;
}

.hierachy-font {
    padding-left: 1.5em;
}

.hierachy-quality {
    font-size: 3.5rem;
    line-height: 1.2;
}

.col-sm {
    padding-left: 35px !important;
}



#arrowOut {
    left: 80px;
    font-size: 20px;
}

/* Preset สำหรับทำกรอบของข้อความ */
.letter1 {
    position: absolute;
    /* max-width: 200px; */
    font-size: 1200%;
    color: white;
    white-space: nowrap;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    text-overflow: clip;
    /* border: 1px solid #000000; */
    -webkit-text-stroke: 1.5px white;

}

.letter2 {
    position: absolute;
    top: 0%;
    left: 10%;
    font-size: 50px;
}

.letter3 {
    position: absolute;
    top: 80%;
    left: 60%;
    font-size: 70px;
    letter-spacing: 8px;
}

.letter4 {
    position: absolute;
    top: 420px;
    left: 40%;
    font-size: 25px;
    color: var(--main-blue-color);
    font-weight: 900;
    font-family: 'Prompt', sans-serif !important;
}

.letter5 {
    position: absolute;
    top: 40px;
    left: 10%;
    font-size: 20px;
    font-weight: 900;
    color: white;
    font-family: 'prompt', sans-serif !important;
}

.letter6 {
    position: absolute;
    top: 18vw;
    left: 15%;
    font-size: 20px;
    font-weight: 900;
    color: white;
    font-family: 'prompt', sans-serif !important;
}

.letter7 {
    position: absolute;
    top: 3em;
    left: 5em;
    font-size: 2.25em;
    font-weight: 900;
    color: white;
    font-family: 'prompt', sans-serif !important;
}

.letter8 {
    position: absolute;
    top: 120%;
    left: 30%;
}

.letter9 {
    position: absolute;
    top: 150%;
    left: 50%;
}

.letter10 {
    position: absolute;
    top: 170%;
    left: 80%;
}

.letter11 {
    position: absolute;
    top: 200%;
    left: 20%;
}

/* .font-size-xs {
    font-size: 20px;
}
/* .font-size-s {
    font-size: 25px;
}
/* .font-size-m {
    font-size: 30px;
}
/* .font-size-l {
    font-size: 40px;
}

/*Object Placeholder*/
.box1 {
    /* background: rgb(10, 10, 56); */
    height: 750px;
    width: 800px;
    /* background: red; */
    position: absolute;
    top: 5%;
    left: 0%;
    right: auto;
    filter: invert(0);

    background-image: url(../GangHan1.svg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

    /* transform: rotate(45deg) */
}

.box2 {
    /* background: rgb(10, 10, 56); */
    position: absolute;
    width: 50px;
    top: 20px;
    left: 0;
}

.box3 {
    /* background: rgb(10, 10, 56); */
    height: 250px;
    width: 250px;
    position: absolute;
    top: 60%;
    left: 60%;

}

.box4 {
    /* background: rgb(10, 10, 56); */
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(60deg);
}

.box5 {
    /* background: rgb(10, 10, 56); */
    height: 300px;
    width: 300px;
    position: absolute;
    top: 130%;
    left: 60%;

}

.box6 {
    /* backgound: rgb(10, 10, 56); */
    height: 20%;
    width: 5em;
    position: absolute;
    top: 18%;
    left: 30%;
    /* transform: scaleX(-1); */
    /* transform: rotate(30deg); */
}

#imgcer1 {
    width: 230px;
    right: 28.5em;
    top: 3.25em;
    position: absolute;

}

#imgcer2 {
    width: 480px;
    right: 16em;
    top: 20em;
    position: absolute;

}

.ganghan2 {
    top: 6em;
    right: 1px;
    width: 400px;
    height: 300px;
    position: absolute;
    background-image: url(../Assets/images/GangHan2.svg);
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
}



/* Animation ทำ bubble */
/* set Keyframe ไว้อันนึง */
.bubble,
.bubble::before,
.bubble::after {
    content: '';
    position: absolute;
    width: .5em;
    height: .5em;
    background-color: #01379c88;
    right: -0.1em;
    bottom: 0em;
    border-radius: 50%;
    stroke: black;
    box-shadow: 0 0 0 2px
}

.bubble {
    animation:
        drift 2s infinite,
        bubble-1 2s infinite;
    animation:
        drift 2s infinite,
        bubble-3 2s infinite;
    animation:
        drift 0.5s infinite,
        bubble-4 2s infinite;
}

.bubble::before {
    animation:
        drift 3s infinite,
        bubble-2 3s infinite;
    animation:
        drift 2s infinite,
        bubble-1 1s infinite;
}

.bubble::after {
    animation:
        drift 5s infinite,
        bubble-3 4s infinite;
}

@keyframes drift {

    0%,
    100% {
        filter: opacity(1);
    }

    15% {
        filter: opacity(1);
    }
}

@keyframes bubble-1 {
    to {
        width: 1em;
        height: 1em;
        right: -6em;
        bottom: 3em;
    }
}

@keyframes bubble-2 {
    to {
        width: 2.5em;
        height: 2.5em;
        right: 6em;
        bottom: 5em;
    }
}

@keyframes bubble-3 {
    to {
        width: 1em;
        height: 1em;
        right: -11em;
        bottom: 1em;
    }

}

@keyframes bubble-4 {
    to {
        width: 2em;
        height: 2em;
        right: -10em;
        bottom: 7em;
    }
}

/* font */
.font-size-xs {
    font-size: .5em;
}

.font-size-s {
    font-size: 1em;
}

.font-size-m {
    font-size: 1.5em;
}

.font-size-l {
    font-size: 2em;
}

.font-kanit {
    font-family: 'Kanit', sans-serif !important;
}

.font-chonburi {
    font-family: 'Chonburi', sans-serif !important;
}

.font-prompt {
    font-family: 'Prompt', sans-serif !important;
}

.font-letting-0 {
    letter-spacing: .5px;
}

.font-letting-1 {
    letter-spacing: 4px;
}

.font-letting-2 {
    letter-spacing: 8px;
}

.font-color-blue {
    color: var(--main-blue-color);
}

.font-color-white {
    color: white;
}

.font-bolder {
    /* text-shadow: 2px 0 var(--main-blue-color); */
    letter-spacing: 3px;
    font-weight: 900;
}

.font-bold {
    font-weight: 600;
}

/*Manual Responsive Check window size*/
/* แบ่งตามขนาด width ของ Windows ทำงานคล้าย if */
@media only screen and (max-width: 1440px) {
    .dropbtn {
        right: 8%;
    }

    .dropdown-content {
        right: 1.5%;
    }

}

@media only screen and (max-width: 1366px) {}

@media only screen and (max-width: 1100px) {
    body {
        overflow: hidden;
        filter: blur(20px);
    }
}

/*ของ dropbtn*/


@media only screen and (max-width: 1024px) {
    .dropbtn {
        right: 10%;
    }

    .dropdown-content {
        right: 5%;
    }

}

/* iPhone 678 */
@media only screen and (max-width: 768px) {
    body {
        overflow: auto;
        filter: none;
    }

    .containing {
        height: 850px;
    }

    .containing-2 {
        height: 1400px;
    }

    .containing-3 {
        height: 700px !important;
    }



    .curving_posture {
        right: 0;
        width: 98%;
        left: auto;
        position: absolute;
    }

    .hierachy-container-2 {
        padding: 15em 0 0 0;
    }

    #imgcer1 {
        width: 100%;
        right: 0;
        top: 0;
        margin-top: 2em;
        padding: 20px;

    }

    #imgcer2 {
        width: 100%;
        right: 0;
        top: 50em;
        margin-top: 2em;
        padding: 15px;

    }

    .type-ganghan {
        top: 1em !important;
        left: 2em !important;
    }

    .ganghan2 {
        top: 22em;
        background-image: url(../Assets/images/GangHan2-pink.svg);
    }

    #line-type-ganghan1 {
        width: 400px !important;
        top: 4.5em !important;
        left: 2.25em !important;
    }

    #line-type-ganghan2 {
        width: 400px !important;
        top: 19.5em !important;
        left: 2.25em !important;
    }


    /* :default */
    .letter1 {
        /* position: absolute; */
        /* max-width: 200px; */
        font-size: 750%;
        white-space: nowrap;
        width: 100%;
        height: 1000px;
        overflow: hidden;
        text-overflow: clip;
        flex-flow: wrap column;
        align-items: flex-start;

    }

    .letter4 {
        position: absolute;
        top: 630px;
        left: 25%;
        font-size: 20px;
    }

    .letter5 {
        position: absolute;
        top: 5%;
        left: 10%;
    }

    .letter6 {
        position: absolute;
        top: 230vw;
        left: 10%;
    }

    .letter7 {
        position: absolute;
        top: 18vw;
        left: 10%;
        font-size: 2em !important;
        color: var(--main-bg-color) !important;
    }


    /* additional */
    .hierachy-quality {
        font-size: 2.5rem;
        line-height: 1.2;
    }

    .unusual-flex {
        display: flex;
        /* justify-content: space-evenly; */
        flex-flow: wrap row;
        align-items: flex-start;
    }

    .type-ganghan {
        color: var(--main-blue-color);
    }

    .after-font-size-xs {
        font-size: .65em;
    }


    /* Presets */
    .place-area-pink {
        background-color: var(--main-bg-color);
    }

    .place-area-white {
        background-color: white;
    }

    .margin-push-paragraph-backward {
        margin-left: 2em;
        margin-top: -50px;
    }

    .margin-push-paragraph-forward-105 {
        margin-left: -1.5em !important;
        margin-top: -50px;
    }

    .margin-push-paragraph-forward {
        margin-left: -1em !important;
        margin-top: -50px;
    }

    .margin-push-paragraph-forward-05 {
        margin-left: -.5em !important;
        margin-top: -50px;
    }

    .margin-push-paragraph-forward-25 {
        margin-left: -.25em !important;

    }

    .margin-push-paragraph-up-10 {
        margin-top: -10px;
    }

    .margin-push-paragraph-up-50 {
        margin-top: -50px;
    }

    .margin-push-paragraph-up-100 {
        margin-top: -100px;
    }

    .margin-push-paragraph-up-150 {
        margin-top: -150px;
    }

    .margin-push-paragraph-down-15 {
        margin-top: 15px;
    }

    .margin-push-paragraph-down-25 {
        margin-top: 25px;
    }

    .margin-push-paragraph-down-50 {
        margin-top: 50px;
    }

    .margin-push-paragraph-down-100 {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .containing {
        height: 750px;
    }

    .containing-2 {
        height: 1400px;
    }

    .containing-type {
        height: 500px !important;
    }

    #imgcer1 {
        width: 100%;
        right: 0;
        top: 0;
        margin-top: 2em;
        padding: 20px;

    }

    #imgcer2 {
        width: 100%;
        right: 0;
        top: 34em;
        margin-top: 2em;
        padding: 15px;

    }


    .place-area {
        height: 750px;
        background-image: url(../Assets/images/hierachy_2.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 2em;
        background-color: white;
    }

    .padding-top-1 {
        padding-top: 1em;
    }

    .padding-bottom-1 {
        padding-bottom: 1em;
    }

    .letter1 {
        font-size: 600%;
        height: 900px;
    }

    .letter4 {
        position: absolute;
        top: 500px;
        left: 20%;
        width: 90px;
        font-size: 20px;
    }

    .letter5 {
        position: absolute;
        top: 30px;
        left: 10%;
    }

    .letter6 {
        position: absolute;
        top: 110em;
        left: 10%;
    }

    .letter7 {
        top: 4em;
        left: 10%;
        font-size: 1.75em !important;
    }


    .hierachy-quality {
        font-size: 1.25rem;
        line-height: 1.2;
        display: none;
    }

    .hierachy-container {
        display: none;
    }

    .hierachy-container-2 {
        display: none;
    }

    .type-ganghan {
        color: var(--main-blue-color);
    }

    /* .ganghan2 {
        width: 200px;
        height: 200px;
        background-image: url(../Assets/images/GangHan2.svg);
    } */
}

@media only screen and (max-width: 414px) {
    .containing {
        height: 650px;
    }

    #imgcer1 {
        width: 100%;
        right: 0;
        top: 0;
        margin-top: 2em;
        padding: 20px;

    }

    #imgcer2 {
        width: 100%;
        right: 0;
        top: 30em;
        margin-top: 2em;
        padding: 15px;

    }


    .padding-top-1 {
        padding-top: 1em;
    }

    .padding-bottom-1 {
        padding-bottom: 1em;
    }

    .letter1 {
        font-size: 600%;
        height: 900px;
    }

    .letter4 {
        position: absolute;
        top: 450px;
        left: 10%;
        width: 95px;
        font-size: 15px;
    }

    .letter5 {
        position: absolute;
        top: 30px;
        left: 10%;
    }

    .letter6 {
        position: absolute;
        top: 100em;
        left: 10%;
    }

    .hierachy-quality {
        font-size: 1.25rem;
        line-height: 1.2;
        display: none;
    }

    .hierachy-container {
        display: none;
    }

    .hierachy-container-2 {
        display: none;
    }

    .margin-push-paragraph-backward {
        margin-left: 1em;
        margin-top: -50px;
    }
}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 320px) {
    .dropbtn {
        width: 56.25px;
        height: 30px;
    }

    #arrowOut {
        left: 55px;
        font-size: 13px;
    }
}