/* Css */
:root {
    --main-bg-color: #7C937B;
    --main-blue-color: #01379c;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    /*background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%); */
    font-family: "Ailerons";
    /* color: rgb(255, 255, 255); */
    font-size: 19px;
    font-family: 'Chonburi';
    max-width: 100%;
    overflow-x: hidden;
    /* -webkit-overflow-scrolling: hidden;
    -webkit-font-feature-settings: initial; */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
}

p {
    margin-top: 0rem;
    margin-bottom: -7rem;
}

img {
    /* min-width: 50% */
}


#div1 {
    overflow-x: hidden;
}

.contained {
    display: inline;
}

.containing {
    position: relative;
    height: 750px;
}

.containing-2 {
    position: relative;
    height: 750px;
    margin-top: 6em;
    transform: scale(1.25);
    margin-left: 8em;
    background-image: url(../Assets/images/kanghan-green.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.container-4 {
    width: 100%;
    height: 700px;
}

/* Detail */
.font-area {
    /* display: flex; */
}

.place-area {
    /* display: flex; */
    background: var(--main-bg-color);
    height: 1000px;
    margin-top: 2em;
}

.margin-push-paragraph {
    margin-left: -.25em;
}

.font-alpha-0 {
    color: rgba(0, 0, 0, 0) !important;
}

/* Blink */
@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

.blink {
    display: block;
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

/* navbar */
/* Dropdown Button */
.dropbtn {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 75px;
    height: 40px;
    background-image: url('../Assets/images/hamburger_03.svg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 5%;
    right: 5%;
    position: fixed;
    margin: 20px;
    z-index: 1;
    transition: all .5s;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
    transform: scale(1.15) !important;
    transition: all .5s;
}

.dropbtn:focus {
    /* transform: scale(2); */
}

/* The container */
.dropdown {
    position: relative;
    display: inline-block;
    transition: all .5s;
}

/* Dropdown Content*/
.dropdown-content {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0);
    z-index: 100;
    transition: all .5s;
    top: 15%;
    right: 5%;
    position: fixed;
    margin: 3px 20px 2px 20px;
    color: var(--main-blue-color);
    border-left: 2px dashed;
    backdrop-filter: blur(1px);
    /* border-radius: 0 20px 20px 0; */
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--main-blue-color);
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    transition: all .5s;
    font-size: 2vh;
    /* border-radius: 30px; */
    /* border-left: 2px dashed; */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: var(--main-bg-color);
    background-color: rgb(255, 255, 255)
}

.show {
    display: block;
    transition: all .5s;
    opacity: 1;
    visibility: visible;
}

.col-sm {
    padding-left: 35px !important;
}

.contain-re {
    margin-left: -.25em;
}

.contain-ing {
    margin-left: -.25em;
}

.contain-use {
    margin-left: 1.3em;
}

.contain-from {
    margin-left: 2.5em;
}

.title-result {
    margin-top: 4em;
    margin-left: 4em;
}

.para-result {
    margin-top: 2em;
    margin-left: 11em;
    width: 25em;
    font-size: 14px;
}

.para-trophy {
    margin-top: 2em;
    margin-left: 7.75em;
    width: 18em;
    font-size: 20px;
    border-bottom: 1px dashed grey;
    padding-bottom: 15px;
}

/* trophy */
.trophy_result {
    width: 105%;
    background: white;
    margin-top: .5em;
}

.button-carousel {
    margin-left: 22em;
    position: absolute;
}

img.trophy {
    width: 90%;
}

/* fish tank */
img.animated-gif {
    /* width: 100%; */
    height: auto;
}

.fish-tank-control {
    margin-left: -30em;
}

#line-type-result {
    top: 2em;
    left: 20em;
    position: absolute;
}

#arrowOut {
    left: 80px;
    font-size: 20px;
}

/* Preset สำหรับทำกรอบของข้อความ */
.letter1 {
    position: absolute;
    /* max-width: 200px; */
    font-size: 1200%;
    color: white;
    white-space: nowrap;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    text-overflow: clip;
    /* border: 1px solid #000000; */
    -webkit-text-stroke: 1.5px white;
    margin-top: .2em;

}

.letter2 {
    position: absolute;
    top: 0%;
    left: 10%;
    font-size: 50px;
}

.letter3 {
    position: absolute;
    top: 80%;
    left: 60%;
    font-size: 70px;
    letter-spacing: 8px;
}

.letter4 {
    position: absolute;
    top: 220px;
    left: 35em;
    font-size: 25px;
    color: var(--main-blue-color);
    font-weight: 900;
    font-family: 'Prompt', sans-serif !important;
}

.letter5 {
    position: absolute;
    top: 40px;
    left: 10%;
    font-size: 20px;
    font-weight: 900;
    color: white;
    font-family: 'prompt', sans-serif !important;
}

.letter6 {
    position: absolute;
    top: 18vw;
    left: 15%;
    font-size: 20px;
    font-weight: 900;
    color: white;
    font-family: 'prompt', sans-serif !important;
}

.letter7 {
    position: absolute;
    top: 3.5em;
    left: 16.5em;
    font-size: 1.25em;
    font-weight: 900;
    color: white;
    font-family: 'prompt', sans-serif !important;
}

.letter8 {
    position: absolute;
    top: 120%;
    left: 30%;
}

.letter9 {
    position: absolute;
    top: 150%;
    left: 50%;
}

.letter10 {
    position: absolute;
    top: 170%;
    left: 80%;
}

.letter11 {
    position: absolute;
    top: 200%;
    left: 20%;
}

/* .font-size-xs {
    font-size: 20px;
}
/* .font-size-s {
    font-size: 25px;
}
/* .font-size-m {
    font-size: 30px;
}
/* .font-size-l {
    font-size: 40px;
}

/*Object Placeholder*/
.box1 {
    /* background: rgb(10, 10, 56); */
    height: 750px;
    width: 800px;
    /* background: red; */
    position: absolute;
    top: 5%;
    left: 0%;
    right: auto;
    filter: invert(0);

    /* transform: rotate(45deg) */
}

.box2 {
    /* background: rgb(10, 10, 56); */
    position: absolute;
    width: 50px;
    top: 20px;
    left: 0;
}

.box3 {
    /* background: rgb(10, 10, 56); */
    height: 250px;
    width: 250px;
    position: absolute;
    top: 60%;
    left: 60%;

}

.box4 {
    /* background: rgb(10, 10, 56); */
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(60deg);
}

.box5 {
    /* background: rgb(10, 10, 56); */
    height: 300px;
    width: 300px;
    position: absolute;
    top: 130%;
    left: 60%;

}

.box6 {
    /* backgound: rgb(10, 10, 56); */
    height: 20%;
    width: 5em;
    position: absolute;
    top: 18%;
    left: 30%;
    /* transform: scaleX(-1); */
    /* transform: rotate(30deg); */
}


/* font */

.font-size-xxs {
    font-size: .25em;
}

.font-size-xs {
    font-size: .5em;
}

.font-size-s {
    font-size: 1em;
}

.font-size-m {
    font-size: 1.5em;
}

.font-size-l {
    font-size: 2em;
}

.font-kanit {
    font-family: 'Kanit', sans-serif !important;
}

.font-chonburi {
    font-family: 'Chonburi', sans-serif !important;
}

.font-prompt {
    font-family: 'Prompt', sans-serif !important;
}

.font-letting-0 {
    letter-spacing: .5px;
}

.font-letting-1 {
    letter-spacing: 4px;
}

.font-letting-2 {
    letter-spacing: 8px;
}

.font-color-blue {
    color: var(--main-blue-color);
}

.font-color-white {
    color: white;
}

.font-bolder {
    /* text-shadow: 2px 0 var(--main-blue-color); */
    letter-spacing: 3px;
    font-weight: 900;
}

.font-bold {
    font-weight: 600;
}

/*Manual Responsive Check window size*/
/* แบ่งตามขนาด width ของ Windows ทำงานคล้าย if */
@media only screen and (max-width: 1440px) {
    .dropbtn {
        right: 8%;
    }

    .dropdown-content {
        right: 1.5%;
    }

}

@media only screen and (max-width: 1366px) {}

@media only screen and (max-width: 1200px) {
    .contain-from {
        margin-left: 1.2em;
    }

    .contain-use {
        margin-left: .5em;
    }
}

@media only screen and (max-width: 1100px) {
    body {
        overflow: hidden;
        filter: blur(20px);
    }
}

/*ของ dropbtn*/


@media only screen and (max-width: 1024px) {
    .dropbtn {
        right: 10%;
    }

    .dropdown-content {
        right: 5%;
    }

}

/* iPhone 678 */
@media only screen and (max-width: 768px) {
    body {
        overflow: auto;
        filter: none;
    }

    .containing {
        height: 950px;
    }

    .containing-2 {
        height: 1400px;
        margin-left: 0em;
        background-image: none;
    }

    .containing-2-img-mobile {
        background-image: url(../Assets/images/kanghan-green-ver.svg);
        background-size: cover;
    }

    .containing-3 {
        height: 600px !important;
        margin-left: 6em;
    }

    .container-4 {
        height: 1000px;
    }

    /* additional */
    .contain-re {
        margin-left: 0em;
    }

    .contain-use {
        margin-left: 1.25em;
    }

    .contain-ing {
        margin-left: 0em;
    }

    .contain-from {
        margin-left: 2.2em;
        margin-top: .5em;
    }


    .title-result {
        margin-top: .25em;
        margin-left: .5em;
    }

    .para-result {
        margin-top: 2em;
        margin-left: 1.5em;
        width: 45em;
        font-size: 15px;
    }

    .para-trophy {
        margin-top: 2em;
        margin-left: 1.5em;
        width: 10em;
        font-size: 20px;
        border-bottom: 1px dashed grey;
        padding-bottom: 15px;
    }

    .fish-tank-control {
        margin-top: 9em;
        margin-left: -36em;
    }

    img.trophy {
        width: 80%;
        height: 100%;
    }

    .trophy_result {
        /* margin-top: 10em; */
        position: absolute;
        margin-left: -20px;
        display: flex;
        justify-content: center;

    }

    .title-trophy {
        width: 145px;
    }


    #line-type-result {
        top: 4em;
        left: 1em;
        position: absolute;
        width: 363px !important;
        height: 172px;
    }

    .button-carousel {
        margin-left: 8em;
        position: absolute;
    }

    /* :default */
    .letter1 {
        /* position: absolute; */
        /* max-width: 200px; */
        font-size: 750%;
        white-space: nowrap;
        width: 100%;
        height: 1000px;
        overflow: hidden;
        text-overflow: clip;
        flex-flow: wrap column;
        align-items: flex-start;

    }

    .letter4 {
        position: absolute;
        top: 140px;
        left: 28em;
        font-size: 20px;
    }

    .letter5 {
        position: absolute;
        top: 5%;
        left: 10%;
    }

    .letter6 {
        position: absolute;
        top: 230vw;
        left: 10%;
    }

    .letter7 {
        position: absolute;
        top: 18vw;
        left: 5%;
        font-size: 15px !important;
        width: 25em;
        /* color: var(--main-bg-color) !important; */
    }


    /* additional */

    .unusual-flex {
        display: flex;
        /* justify-content: space-evenly; */
        flex-flow: wrap row;
        align-items: flex-start;
    }

    .after-font-size-xs {
        font-size: .65em;
    }

    .contain-from {
        margin-left: 0em;
    }


    /* Presets */
    .place-area-pink {
        background-color: var(--main-bg-color);
    }

    .place-area-white {
        background-color: white;
    }

    .margin-push-paragraph-backward {
        margin-left: 2.5em;
        margin-top: -50px;
    }

    .margin-push-paragraph-backward-1e {
        margin-left: 1em;
        margin-top: -50px;
    }

    .margin-push-paragraph-backward-04e {
        margin-left: 1.2em;
        margin-top: -50px;
    }

    .margin-push-paragraph-forward-105 {
        margin-left: -1.5em !important;
        margin-top: -50px;
    }

    .margin-push-paragraph-forward {
        margin-left: -1em !important;
        margin-top: -50px;
    }

    .margin-push-paragraph-forward-05 {
        margin-left: -.5em !important;
        margin-top: -50px;
    }

    .margin-push-paragraph-forward-25 {
        margin-left: -.25em !important;

    }

    .margin-push-paragraph-up-10 {
        margin-top: -10px;
    }

    .margin-push-paragraph-up-50 {
        margin-top: -50px;
    }

    .margin-push-paragraph-up-100 {
        margin-top: -100px;
    }

    .margin-push-paragraph-up-150 {
        margin-top: -150px;
    }

    .margin-push-paragraph-down-1e {
        margin-top: 1em;
    }

    .margin-push-paragraph-down-05e {
        margin-top: .75em;
    }

    .margin-push-paragraph-down-15 {
        margin-top: 15px;
    }

    .margin-push-paragraph-down-25 {
        margin-top: 25px;
    }

    .margin-push-paragraph-down-50 {
        margin-top: 50px;
    }

    .margin-push-paragraph-down-100 {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .containing {
        height: 700px;
    }

    .containing-2 {
        height: 1400px;
    }

    .containing-type {
        height: 500px !important;
    }

    .title-result {
        margin-top: .25em;
        margin-left: .5em;
    }

    .para-result {
        margin-top: 2em;
        margin-left: 1.5em;
        width: 25em;
        font-size: 15px;
    }

    .para-trophy {
        margin-top: 2em;
        margin-left: 1.5em;
        width: 10em;
        font-size: 20px;
        border-bottom: 1px dashed grey;
        padding-bottom: 15px;
    }

    .fish-tank-control {
        margin-top: 6em;
        margin-left: -22em;
    }

    #line-type-result {
        top: 2em;
        left: -1em;
        position: absolute;
        width: 320px !important;
        height: 252px;
    }

    .button-carousel {
        margin-left: 14em;
        margin-top: -2em;
        position: absolute;
    }


    .padding-top-1 {
        padding-top: 1em;
    }

    .padding-bottom-1 {
        padding-bottom: 1em;
    }

    .letter1 {
        font-size: 600%;
        height: 900px;
    }

    .letter4 {
        position: absolute;
        top: 254px;
        left: 4em;
        font-size: 16px;
    }

    .letter5 {
        position: absolute;
        top: 30px;
        left: 10%;
    }

    .letter6 {
        position: absolute;
        top: 110em;
        left: 10%;
    }

    .letter7 {
        top: 11vw;
        left: 7%;
        font-size: 18px !important;
        width: 13em;
    }


}

@media only screen and (max-width: 414px) {
    .containing {
        height: 700px;
    }

    .container-4 {
        height: 850px;
    }

    /* .contain-use{

    } */
    .padding-top-1 {
        padding-top: 1em;
    }

    .padding-bottom-1 {
        padding-bottom: 1em;
    }

    .title-result {
        margin-top: .25em;
        margin-left: .5em;
    }

    .para-result {
        margin-top: 2em;
        margin-left: 1.5em;
        width: 23em;
        font-size: 12px;
    }

    .fish-tank-control {
        margin-top: 7em;
        margin-left: -13em;
        width: 220%
    }

    .animated-gif {
        width: 100%;
    }

    #line-type-result {
        top: 1em;
        left: -2em;
        position: absolute;
        width: 251px !important;
        height: 260px;
    }

    .button-carousel {
        margin-left: 10em;
        margin-top: -2em;
        position: absolute;
    }


    .letter1 {
        font-size: 600%;
        height: 900px;
    }

    .letter4 {
        top: 244px;
        left: 21em;
        width: 78px;
        font-size: 13px;
    }

    .letter5 {
        position: absolute;
        top: 30px;
        left: 10%;
    }

    .letter6 {
        position: absolute;
        top: 100em;
        left: 10%;
    }

    .letter7 {
        top: 11vw;
        left: -11%;
        font-size: 18px !important;
        width: 13em;
    }


    .margin-push-paragraph-backward {
        margin-left: 1.8em;
    }

    .margin-push-paragraph-up-50-2 {
        margin-top: -50px;
    }

    .margin-push-paragraph-down-05e {
        margin-top: .75em;
    }
}

@media only screen and (max-width: 396px) {
    .margin-push-paragraph-backward {
        margin-left: 1.8em;
    }
}

@media only screen and (max-width: 320px) {
    .dropbtn {
        width: 56.25px;
        height: 30px;
    }

    #arrowOut {
        left: 55px;
        font-size: 13px;
    }
}